/* App.css */

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
/* CustomInput.css */

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
}

.error-message {
  color: red;
}
